<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>אלישע בע''מ</name>
    <description>
        אלישע בע''מ
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    !-- Allow links to example.com -->
        <allow-navigation href="http://delek-elisha.co.il/*" />

        <!-- Wildcards are allowed for the protocol, as a prefix
            to the host, or as a suffix to the path -->
        <allow-navigation href="*://*.delek-elisha/*" />

        <!-- A wildcard can be used to whitelist the entire network,
            over HTTP and HTTPS.
            *NOT RECOMMENDED* -->
        <allow-navigation href="*" />

        <!-- The above is equivalent to these three declarations -->
        <allow-navigation href="http://*/*" />
        <allow-navigation href="https://*/*" />
        <allow-navigation href="data:*" />

    <icon src="img/icon.png" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <feature name="InAppBrowser">
        <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
    </feature>
</widget>
